<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterSampleApplicationApp.campagne.home.title">Campagnes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-campagne" [routerLink]="['/campagne/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="jhipsterSampleApplicationApp.campagne.home.createLabel">
            Create a new Campagne
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jhipsterSampleApplicationApp.campagne.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="campagnes?.length === 0">
        <span jhiTranslate="jhipsterSampleApplicationApp.campagne.home.notFound">No campagnes found</span>
    </div>
    <div class="table-responsive" *ngIf="campagnes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="campagneName"><span jhiTranslate="jhipsterSampleApplicationApp.campagne.campagneName">Campagne Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="lienCampagne"><span jhiTranslate="jhipsterSampleApplicationApp.campagne.lienCampagne">Lien Campagne</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="banners"><span jhiTranslate="jhipsterSampleApplicationApp.campagne.banners">Banners</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="campagneNameId"><span jhiTranslate="jhipsterSampleApplicationApp.campagne.campagneName">Campagne Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let campagne of campagnes ;trackBy: trackId">
                <td><a [routerLink]="['/campagne', campagne.id, 'view' ]">{{campagne.id}}</a></td>
                <td>{{campagne.campagneName}}</td>
                <td>{{campagne.lienCampagne}}</td>
                <td>{{campagne.banners}}</td>
                <td>
                    <div *ngIf="campagne.campagneNameId">
                        <a [routerLink]="['/client', campagne.campagneNameId , 'view' ]" >{{campagne.campagneNameId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/campagne', campagne.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/campagne', campagne.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(campagne)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
